{% extends "layouts/daily_base.html" %}



<!-- Specific Page CSS goes HERE  -->

{% block stylesheets %}{% endblock stylesheets %}





{% block content %}

<!-- answers-->

<div class="row">

    <div class="col-lg-4 col-md-6 col-sm-6">

        <div class="card card-stats">

            <div class="card-header card-header-warning card-header-icon">

                <div class="card-icon">

                    <i class="material-icons">feedback</i>

                </div>

                <p class="card-category">{{ no_answer }}</p>

                <h3 class="card-title">{{ no_answer_count }}</h3>

            </div>

            <div class="card-footer">

                <div class="stats">

                    <i class="material-icons">date_range</i> Total till Date

                </div>

            </div>

        </div>

    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">

        <div class="card card-stats">

            <div class="card-header card-header-success card-header-icon">

                <div class="card-icon">

                    <i class="material-icons">task_alt</i>

                </div>

                <p class="card-category">{{ rt_answer }}</p>

                <h3 class="card-title">{{ rt_answer_count }}</h3>

            </div>

            <div class="card-footer">

                <div class="stats">

                    <i class="material-icons">date_range</i> Total till Date

                </div>

            </div>

        </div>

    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">

        <div class="card card-stats">

            <div class="card-header card-header-danger card-header-icon">

                <div class="card-icon">

                    <i class="material-icons">highlight_off</i>

                </div>

                <p class="card-category">{{ wr_answer }}</p>

                <h3 class="card-title"> {{ wr_answer_count }}</h3>

            </div>

            <div class="card-footer">

                <div class="stats">

                    <i class="material-icons">date_range</i> Total till Date

                </div>

            </div>



        </div>

    </div>

</div>



<!-- reset and live chat count-->

<div class="row">

    <!--reset count-->

    <div class="col-lg-4 col-md-6 col-sm-6">

        <div class="card card-stats">

            <div class="card-header card-header-rose card-header-icon">

                <div class="card-icon">

                    <i class="material-icons">restart_alt</i>

                </div>

                <p class="card-category"> Reset Count</p>

                <h3 class="card-title">{{ reset_count }}</h3>

            </div>

            <div class="card-footer">

                <div class="stats">

                    <i class="material-icons">date_range</i> Last 24 Hours

                </div>

            </div>

        </div>

    </div>

    <!--live chat count-->

    <div class="col-lg-4 col-md-6 col-sm-6">

        <div class="card card-stats">

            <div class="card-header card-header-info card-header-icon">

                <div class="card-icon">

                    <i class="material-icons">live_help</i>

                </div>

                <p class="card-category"> Live Chat Count</p>

                <h3 class="card-title">{{live_count}}</h3>

            </div>

            <div class="card-footer">

                <div class="stats">

                    <i class="material-icons">date_range</i> Last 24 Hours

                </div>

            </div>

        </div>

    </div>

</div>

<!-- Users-->

<div class="row">

    <div class="col-lg-4 col-md-6 col-sm-6">

        <div class="card card-stats">

            <div class="card-header card-header-warning card-header-icon">

                <div class="card-icon">

                    <i class="material-icons">addchart</i>

                </div>

                <p class="card-category">Total Users</p>

                <h3 class="card-title">{{ total_users }}</h3>

            </div>

            <div class="card-footer">

                <div class="stats">

                    <i class="material-icons">date_range</i> Last 24 Hours

                </div>

            </div>

        </div>

    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">

        <div class="card card-stats">

            <div class="card-header card-header-success card-header-icon">

                <div class="card-icon">

                    <i class="material-icons">people_alt</i>

                </div>

                <p class="card-category">Engaged Users</p>

                <h3 class="card-title">{{ engaged_users }}</h3>

            </div>

            <div class="card-footer">

                <div class="stats">

                    <i class="material-icons">date_range</i> Last 24 Hours

                </div>

            </div>

        </div>

    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">

        <div class="card card-stats">

            <div class="card-header card-header-danger card-header-icon">

                <div class="card-icon">

                    <i class="material-icons">group_add</i>

                </div>

                <p class="card-category">New Users</p>

                <h3 class="card-title">{{ new_users }}</h3>

            </div>

            <div class="card-footer">

                <div class="stats">

                    <i class="material-icons">date_range</i> Last 24 Hours

                </div>

            </div>



        </div>

    </div>

</div>

<!-- busy count table -->

<div class="card">

    <div class="card-header card-header-info">

        <h4 class="card-title ">Busiest period of the Chatbot</h4>

        <p class="card-category">Busiest period of the bot for the specific department</p>

    </div>

    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-hover">

                <thead class="">

                <th>

                    Serial No

                </th>

                <th>

                    Department

                </th>

                <th>

                    Count

                </th>

                <th>

                    Time Period

                </th>

                </thead>

                <tbody>

                {% for count in busy_count %}

                <tr>

                    <td>

                        {{ forloop.counter}}

                    </td>

                    <td>

                        {{ count.0|upper}}

                    </td>

                    <td>

                        {{ count.2}}

                    </td>

                    <td>

                        {{ count.1|upper}}

                    </td>

                </tr>

                {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>





<!--live chat count-->

<!--<div class="card">-->

<!--    {{live_chat_count}}-->

<!--</div>-->





<!--Repeated Users-->

<div class="card">

    <div class="card-header card-header-rose">

        <h4 class="card-title ">Repeated Interacted Users Data</h4>

        <p class="card-category"> Number of Users who have interacted with Chatbot repeatedly over a particular period

            of time</p>

    </div>

    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-hover">

                <thead class="">

                <th>

                    Serial No

                </th>

                <th>

                    User Email

                </th>

                <th>

                    Bot Interaction

                </th>

                <th>

                    Date Time

                </th>

                </thead>

                <tbody>

                {% for count in repeated_users %}

                <tr>

                    <td>

                        {{ forloop.counter}}

                    </td>

                    <td>

                        {{ count.0}}

                    </td>

                    <td>

                        {{ count.1}}

                    </td>

                    <td>

                        {{ count.2|upper}}

                    </td>

                </tr>

                {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>



<!-- Charts-->

<div class="row">

    <div class="col-lg-12 col-md-8">



        <div class="card">

            <div id="container_bar">



            </div>

        </div>



    </div>

</div>

<div class="row">

    <div class="col-lg-12 col-md-8">

        <div class="card">

            <div id="container_line">

            </div>

        </div>

    </div>

</div>

<div class="row">

    <div class="col-lg-6 col-md-6">

        <div id="container_pie0"></div>

    </div>

    <div class="col-lg-6 col-md-6">

        <div id="container_pie1"></div>

    </div>

</div>



{% endblock content %}





<!-- Specific Page JS goes HERE  -->

{% block javascripts %}

<script>

    $(document).ready(function() {

      // Javascript method's body can be found in assets/js/demos.js

      md.initDashboardPageCharts();

    });



</script>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="https://code.highcharts.com/highcharts.src.js"></script>

<script>

  Highcharts.chart('container_bar', {{ bar_chart|safe }});

  Highcharts.chart('container_line', {{ line_chart|safe }});

  Highcharts.chart('container_pie0', {{ pie_chart0|safe }});

  Highcharts.chart('container_pie1', {{ pie_chart1|safe }});





















</script>

{% endblock javascripts %}
